<div class="row">
  <div class="small-12 columns">
    <p>
      <h1 class="background">Learn Data Science</h1>
    </p>
    <p>The following lessons will help you understand the basics of data science.</p>
    <p>
      <%= link_to("View the list of lessons", lessons_path, class: "button") %>
    </p>
      <%= image_tag "workspace8_high_res.jpg" %>
    </div>
  </div>
